<a href="https://colab.research.google.com/github/AK-290904/data_science/blob/main/Day_1(Data_types%2CVar%2CKeywords_%26_Identifiers%2C).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Python is case sensitive
print('Hello World')

Hello World

In [ ]:
print(1)

1

In [ ]:
#printf function can print multiple values
#by default sep is space
print('Hello',1,1.5,True)

Hello 1 1.5 True

In [ ]:
#using sep as /
print('Hello',1,1.5,True,sep='/')

Hello/1/1.5/True

In [ ]:
#by def uses end as \n
print('Hello')
print('World')

Hello
World

In [ ]:
#now using end as '-'
print('Hello',end='-')
print('World')

Hello-World

# **Data Types**

In [ ]:
#Integers
print(1)
#can handle very large integers upto 10^308
print(1e308)

1
1e+308

In [ ]:
#Decimal/Float
print(8.55)
#can handle upto 1.7e308
print(1.7e308)

8.55
1.7e+308

In [ ]:
#Boolean
print(True)

True

In [ ]:
#Text/String
print('Hello World')
#python has no char data type

Hello World

In [ ]:
#Complex
print(5+6j)

(5+6j)

In [ ]:
#list->in c Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [ ]:
#Tuple
print((1,2,3))

(1, 2, 3)

In [ ]:
#sets
print({1,2,3})

{1, 2, 3}

In [ ]:
#Dictionary
print({'name':'Nitish','gender':'male'})

{'name': 'Nitish', 'gender': 'male'}

In [ ]:
#type fun tell about data type of given parameter
type([1,2,3])

list

# **Variables**

In [ ]:
#Static Vs Dynamic Typing
#in dynamic typing we dont tell about the data type
a=5

#Static Typing->explicitly tell about data type like in c/c++
#int a=5

In [ ]:
#Dynamic Binding vs Static Binding
#Dynamic binding-> in python we can chnage the data type of variable anytime

a=5
print(a)
a='akshita'
print(a)

#static binding-> like done in c/c++ once declared can't change data type
#int a=5;
#a='Akshita  ERROR

5
akshita

In [ ]:
a,b,c=1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c=5
print(a,b,c)

#note: python do not support multiline comments

5 5 5

# Keywords & Identifiers

In [ ]:
#keywords are reserved words
# False     await     else      import     pass
# None      break     except    in         raise
# True      class     finally   is         return
# and       continue  for       lambda    try
# as        def       from      nonlocal  while
# assert    del       global    not       with
# async     elif      if        or        yield

In [ ]:
#Identifiers
#Rules->
  #can't start with a digit
  #    11name=123
  #can't use special characters except _
  #identifiers can not be keywords

#User Input

In [ ]:
#Static vs Dynamic
input('Enter Your Name ')

Enter Your Name Akshita

'Akshita'

In [ ]:
#adding no's
a=input('Enter 1st no ')
b=input('Enter second no')
c=a+b
print('Result ',c)

#input function by defalt takes string
type(a)
type(b)
#hence str concatenated instead of add

Enter 1st no 3
Enter second no4
Result  34

str

#Type Conversion

In [ ]:
#Implicit Conversion
print(5+5.6)

#but not always works implicit
#eg:   print(1+'a')-->ERROR

10.6

In [ ]:
#Explicit Type Conversion
#str->int
a=int('4')
type(a)

int

In [ ]:
#int to str
a=str(5)
type(a)

str

In [ ]:
#int to float
a=float(5)
type(a)

float

In [ ]:
#Python type conversion do not chnage the exsisting variable it create new object

fnum=input('1st no ')
#fnum=int(input('1st no'))
snum=input('2nd no ')
print(type(fnum),type(snum))
result=int(fnum)+int(snum)
print('Result ',result)
print(type(result))

print(type(fnum))

1st no 1
2nd no 2
<class 'str'> <class 'str'>
Result  3
<class 'int'>
<class 'str'>

#Literals

In [ ]:
a=0b10101 #Binary Literals
b=100 #Decimal Literals
c=0o310  #Octal Literals
d=0x12c  #Hexadecimal Literals

#Float Literals
f1=10.5
f2=1.5e2
f3=1.5e-3

#Complex Literals
x=3.14j

print(a,b,c,d)
print(f1,f2,f3)
print(x,x.imag,x.real)

21 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [ ]:
string='This is Python'
string="This is python"
char ="C"
multiline_str="""This is multiline str"""
unicode =u"\U0001f600\U00001F606\U0001F923"
raw_str=r"raw \n string"

print(string)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is python
C
This is multiline str
ðŸ˜€á½ 6ðŸ¤£
raw \n string

In [ ]:
#Boolean
a=True+4
b=False+10

print(a)
print(b)

5
10

In [ ]:
#None
a=None
print(a)
#As in python we cant just declare like other lang so we initialise it with None like null

None